################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/geometry.VC.VC.opendb
